@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.app {
    display: block;
    margin: 0 auto;
}

/* .header {
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid black;
    align-items: center;
} */

/* .logo {
    width: 100px;
    height: 80px;
    cursor: pointer;
} */

/* .nav-items>ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
} */

.nav-items>ul>li {
    /* font-family: monstrett; */
    /* cursor: pointer; */
    /* padding: 10px; */
    /* margin: 10px; */

    transform: ease all 1s;

}

.nav-items>ul>li:hover {
    /* color: orangered; */
    /* transform: scale(1.05); */
    /* font-weight: 600; */
}

/* .search-container {
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
} */

.search-container input {
    /* min-width: 250px; */
    /* border-radius: 10px; */
    /* width: 70%; */
    /* padding: 7px; */
    /* font-size: 17px; */

}

/* .search-container input:focus {
    outline: 0;
} */

.search-container button {
    /* width: 100px; */
    /* padding: 10px 12px; */
    /* cursor: pointer; */
    /* border: 1px solid darkgray; */
    /* border-radius: 15px; */
    /* font-size: 19px; */
    /* color: white; */
    /* background-color: gray; */
}

button:hover {
    /* transform: scaleY(1.1); */
    /* background-color: orangered; */
    /* border: 1px solid transparent; */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13),
        0px -10px 10px rgba(0, 0, 0, 0.13), -10px 0px 10px rgba(0, 0, 0, 0.13), 10px 0px 10px rgba(0, 0, 0, 0.13);
}

.filter {
    /* display: flex; */
    /* justify-content: space-around; */
    /* align-items: center; */
    /* width: 100%; */
    /* height: 50px; */
    /* padding: 10px; */
    /* margin: 15px; */
    /* gap: 7px; */
}

.filter-btn {
    /* text-align: center; */
    /* width: 40%; */
    /* padding: 10px 12px; */
    /* cursor: pointer; */
    /* border: 1px solid darkgray; */
    /* border-radius: 15px; */
    /* font-size: 19px; */
    /* color: white; */
    /* background-color: gray; */
}

.shimmer-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* gap: 10px; */
    /* margin: 20px 40px; */
}

.shimmer-card {

    /* width: 230px; */
    /* height: 330px; */
    /* background-color: gray; */
    /* border: 1px solid transparent; */
    /* border-radius: 20px; */
}

.res-container {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    /* gap: 10px; */
    /* margin: 0 40px; */
}

.res-card {
    /* background-color: aliceblue; */
    /* border-radius: 20px; */
    /* width: 230px; */
    /* height: 340px; */
    /* overflow: hidden; */
    /* padding: 5px; */
    /* border: 1px solid transparent; */
}

.res-card:hover {
    transition: 0.3s ease-in-out;
    /* cursor: pointer; */

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199),
        0px -10px 10px rgba(0, 0, 0, 0.199), -10px 0px 10px rgba(0, 0, 0, 0.199), 10px 0px 10px rgba(0, 0, 0, 0.199);

    /* transform: scale(0.9); */
}

.res-card h3 {
    /* margin: 5px; */
    /* padding-left: 2px; */
    /* font-size: 16px; */
    /* letter-spacing: -1; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-weight: 600; */
}

.clocksymbol {
    /* padding-left: 7px; */
}

.TimeAndRating {
    /* margin-left: 5px; */
    /* display: flex; */
    /* gap: 2px; */
}

.card-star {
    /* color: darkgreen; */
}

.res-card .lightColor {
    /* color: grey; */
    /* margin-left: 5px; */
    /* padding: 2px; */
    /* font-size: 15px; */
    /* font-weight: 500; */
}
.res-logo {
    /* border-radius: 15px; */
    /* width: 100%; */
    /* height: 50%; */
    /* object-fit: cover; */
    /* object-position: center; */
    /* overflow: hidden; */

}

/* @keyframes shimmer {
    from {
        background-position: -1000px 0;
    }

    to {
        background-position: 1000px 0;
    }
} */

/*Animation to Shimmer Component Card and Menu card End*/


.footerSection {
    /* background-color: #fff; */
    /* padding: 30px; */
    /* text-align: center; */
    /* font-weight: 600px; */
    /* color: blue; */

}

.menu-header {
    /* height: 40vh; */
    /* height: 240px; */
    /* background-color: #000; */
    /* color: #f7f7f7; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 30px; */
}

.menu-header .menu-header-left img {
    /* width: 250px; */
    /* height: 35vh; */
    /* border-radius: 5px; */
    /* background-size: cover; */
    /* background-position: center; */
}

.menu-header .menu-header-right .top h1 {
    /* font-size: 35px; */
    /* font-weight: normal; */
    /* letter-spacing: 1px; */
    /* font-family: monument; */
    /* transform: scaleY(1.3); */
}

.menu-header .menu-header-right .top h3 {
    /* font-weight: normal; */
    /* opacity: 0.7; */
    /* margin-top: 5px; */
}

.menu-header .menu-header-right .bottom {
    /* display: flex; */
    /* gap: 20px; */
    /* align-items: center; */
    /* margin-top: 20px; */
}

.menu-header .menu-header-right .bottom h4 {
    /* border-right: 4px solid #ccc; */
    /* padding-right: 20px; */
}

.menu-header .menu-header-right .bottom .avg-rating {
    /* display: flex; */
}

.menu-header .menu-header-right .bottom .avg-rating div {
    /* font-size: 15px; */
    /* padding: 2px; */
    /* opacity: 0.7; */
}

.menu-main {
    /* margin-top: 100px; */
    /* margin: 50px 100px; */
}

.menu-main h2 {
    /* font-size: 25px; */
    /* transform: scaleY(1.3); */
    /* letter-spacing: 1px; */
    /* opacity: 0.8; */
    /* font-family: monument; */
}

.menu-main .items {
    /* font-size: 15px; */
    /* opacity: 0.9; */
    /* font-weight: normal; */
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* margin-top: 10px; */
}

.menu-main-card-container {
    /* margin-top: 20px; */
    /* border-radius: 7px; */
}

.menu-card {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* gap: 50px; */
    /* background-color: #fff; */
    /* padding: 20px; */
    /* border-bottom: 1px solid #3b3a3a; */
}

.menu-card-left .menu-name {
    /* font-size: 20px; */
    /* opacity: 0.8; */
    /* margin-bottom: 5px; */
}

.menu-card-left .menu-price {
    /* font-weight: normal; */
    /* opacity: 0.8; */
    /* margin-top: 5px; */
}

.menu-card-left .menu-description {
    /* font-weight: normal; */
    /* opacity: 0.8; */
    /* margin-top: 15px; */
}

.menu-card-right img {
    /* height: 150px; */
    /* width: 200px; */
    /* border-radius: 5px; */
    /* background-size: cover; */
    /* background-position: center; */
}

.menu-card:hover .menu-card-right img {
    transition: 0.3s ease-in-out;
    /* cursor: pointer; */

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199),
        0px -10px 10px rgba(0, 0, 0, 0.199), -10px 0px 10px rgba(0, 0, 0, 0.199), 10px 0px 10px rgba(0, 0, 0, 0.199);

    /* transform: scale(0.9); */
}

.menu-rating {
    /* display: flex; */
    /* gap: 3px; */
    /* color: green; */
    /* padding: 2px; */
}

.menu-rating .count {
    /* font-size: 15px; */
    /* opacity: 0.7; */
    /* padding-top: 2px; */
    /* padding-left: 3px; */

}

.notAvail {
    /* padding: 20px; */
    /* color: brown; */
    /* text-align: center; */
    /* font-size: 25px; */
}

/* * About Page */
.about-page {
    /* margin-top: 50px; */
}

.user-card {
    /* padding: 10px; */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199),
        0px -10px 10px rgba(0, 0, 0, 0.199), -10px 0px 10px rgba(0, 0, 0, 0.199), 10px 0px 10px rgba(0, 0, 0, 0.199);
    /* background-color: #fff; */
    /* margin-bottom: 30px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* height: 350px; */
    /* width: 40%; */
    /* text-align: center; */
}

.user-card img {
    /* padding: 2px; */
    /* margin: 7px 0; */
    /* width: 150px; */
    /* height: 150px; */
    /* border-radius: 50%; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.user-card h2,
h3,
.contactCard {
    /* margin-top: 10px; */
}

.user-card h3 {
    /* opacity: 0.7; */
    /* font-size: 18px; */
}

.contactCard {
    /* display: flex; */
    /* gap: 8px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* font-size: 17px; */
    /* padding: 2px; */
    /* opacity: 0.7; */
}

.contactCard a {
    /* font-size: 28px; */
    /* padding: 5px; */
}