*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.app {
    display: block;
    margin: 0 auto;
}

.header {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    border: 1px solid black;
    align-items: center;
}

.logo {
    width: 100px;
    height: 80px;
    cursor: pointer;
}

.nav-items>ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items>ul>li {
    font-family: monstrett;
    cursor: pointer;
    padding: 10px;
    margin: 10px;

    transform: ease all 1s;

}

.nav-items>ul>li:hover {
    color: orangered;
    transform: scale(1.05);
    font-weight: 600;
}

.search-container {
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.search-container input {
    min-width: 250px;
    border-radius: 10px;
    width: 70%;
    padding: 7px;
    font-size: 17px;

}

.search-container input:focus {
    outline: 0;
}

.search-container button {
    width: 100px;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 15px;
    font-size: 19px;
    color: white;
    background-color: gray;
}

button:hover {
    /* transform: scaleY(1.1); */
    background-color: orangered;
    border: 1px solid transparent;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13),
    0px -10px 10px rgba(0, 0, 0, 0.13), -10px 0px 10px rgba(0, 0, 0, 0.13), 10px 0px 10px rgba(0, 0, 0, 0.13);
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:50px;
    padding: 10px;
    margin: 10px;
}

.filter-btn{
    text-align: center;
    width: 40%;
    padding: 10px 12px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 15px;
    font-size: 19px;
    color: white;
    background-color: gray;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin: 0 40px;
}

.res-card {
    /* background-color: aliceblue; */
    border-radius: 20px;
    width: 230px;
    height: 330px;
    overflow: hidden;
    /* padding: 5px; */
    border: 1px solid transparent;
}

.res-card:hover {
    transition: 0.3s ease-in-out;
    cursor: pointer;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199),
        0px -10px 10px rgba(0, 0, 0, 0.199), -10px 0px 10px rgba(0, 0, 0, 0.199), 10px 0px 10px rgba(0, 0, 0, 0.199);

    transform: scale(0.9);
}

.res-card h3 {
    margin: 5px;
    font-size: 16px;
    /* letter-spacing: -1; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.res-card h4 {
    margin-left: 5px;
    padding: 1px;
    font-size: 15px;
    font-weight: 500;
}

.search {
    padding: 10px;
}

.res-logo {
    border-radius: 15px;
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;

}

.footer {
    padding: 20px 10px;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}